/*1334px / 16 = 84 (smaller laptops) */

@media(max-width:84em){
    .our-shop{
        display: flex;
        flex-direction:column;
        position: relative; 
        margin-top: 6.6rem;
    }
    
    
    .item-ordering{
        position:relative;
        bottom: 0;
    }
    
    .news-letter{
        position:relative;
        bottom: -2rem;
        left: 0;
    }

    .cta-img img{
        width:50%;
        height: auto;   
    }

    .email-address input{
        margin-top: 4.4rem;
        width: 40%;
        height:7vh;
        transition: all 0.3s;
    }

    .email-address a{
    position:relative;
    top: 74.2%;
    right: 12%; 
    }
    
    
}


/* BELOW: 1200px / 16 px = 75em (landscape tablets)  */

@media(max-width:75em){
    button{
        padding: 1.6rem 3.4rem;
        position: relative;
        right: 10rem;    
        font-size: 1.2rem;
    }

    .header-section{
        height:auto;
    }

    .discount-sail{
        position: absolute;
        top: 64%;
        right: 82%;
        padding: 2.8rem 1.5rem;
        font-size: 2.4rem;
    }

    form button{
        position:absolute;
        top: 79.8%;
        right: 14%;
        padding: 0.8rem 1.6rem;
        border-radius: 4.4rem;
    }

    .cta-img img{
        margin-top: 12.2rem;
        width:100%;
        height: 100%;
        border-radius:2.4rem;
    }

    .our-shop{
        display: flex;
        flex-direction: column;
        margin-top: 9.4rem;
    }

    .item-ordering{
        margin-bottom: 2.4rem;
        position: relative;
    }
    
    .news-letter{   
        bottom: 0;
        position: relative;
        left: 0;
    }

    .email-address a{
        position:relative;
        top: 45.2%;
        right: 16%; 
        padding: 1.2rem 1.6rem;
        border-radius: 4.4rem;
        font-size: 1.6rem;
    }

    .email-address input{
        margin-top: 4.4rem;
        width: 50%;
        height:7vh;
        transition: all 0.3s;
    }
    

}

 /* BELOW: 992px / 16 px = 59em (tablets) */

 @media(max-width:62em){
    .section-1{
        height: 160vh;
        width: 100%;
     }   
     .section-1{
        display: flex;
        flex-direction: column;
        gap: 9.2rem;
        padding:1.4rem 7.2rem;
        color: #fff;
        margin-bottom: 6.6rem;
    }

    .header-section{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn{
        color: #ffffff;
        padding: 1.4rem 3.4rem;
        position:relative;
        right: 5rem;
    }

    .container{
        text-align: center;
        margin-bottom: 5.4rem;
        margin-top: 10%;    
    }
    .dec-banner{
        margin-left: 2.6rem;
    }

    input{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        position: relative;
     }
    
     button{
        padding: 2.1rem 3.4rem;
        position: relative;
        right: 1.2rem;      
        font-size: 1.6rem;

    }
    .container-2{
        position: relative;
        bottom: 15%;
        height: 100vh;
    }

    .container-2 img{
        /* position: absolute; */
        border-radius: 2.4rem;
        height: 50%;

    }

    .discount-sail{
        position: absolute;
        top: 52%;
        right: 85%;
        padding: 1.8rem 1.2rem;
        font-size: 1rem;
    }

    .amount{
        position:absolute;  
        top:12%;
        left: 70%;
        padding: 0.2rem 1.8rem;
    }   

    .feature-list{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .feature-list-items{
        background-color: #ffffff;
        padding: 3.4rem 5.4rem 2.4rem 5.4rem;
        margin: 1.2rem;
        margin-bottom: 6.4rem;
        bottom: 0;
        box-shadow: 0 0 0.4rem rgb(0,0,0,0.3);
     }

     .container-3{
        padding: 6.4rem 8.4rem 6.4rem 8.4rem;
    }

     .games{
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-area: 0;
        place-items: center;
        margin-left: 25rem;
        margin-right: 25rem;
    }

    .current-price{
        position: absolute;
        bottom: 76%;
        left: 70%;
        color: #fff;
        font-size: 1.2rem;
    }
    
    .new-price{
        position: absolute;
        bottom: 66%;
        left: 60%;
    }

    .most-played-img{
        /* display:flex; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        gap: 2.8rem;
    }

    .explore{
        position: absolute;
        bottom: -1.5rem;
        left: 32.5%;
    }
    .our-shop{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        gap: 4.2rem;
        padding: 0 0 6.4rem 0;
    }

    .news-letter{
        position: relative;
        left: 0;
        padding-bottom: 18.4rem;
    }

    .item-ordering{
        position: relative;
    }

    .cta-img img{
        width:0;    
        height: 0;
    }

     .email-address a{
        position:absolute;
        top: 65%;
        padding: 1.4rem 1.6rem;
        top: 55%;
        right: 20%;
    }

    .email-address input{
        margin-top: 4.4rem;
        width: 50%;
        height:7vh;
        transition: all 0.3s;
    }   
}

/* BELOW: 768px / 16px = 44em (smaller tablets) */
@media(max-width:48em){

    .header-section{
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    .nav-bar{
        padding: 2.2rem 4.2rem;
    }
    

    .menu-icon{
        margin-top: 3.2rem;
        color: #fff;
        padding-right: 2.4rem;
        padding-left: 1.8rem;
        width: 3.4rem;
        height: 3.4rem;
        display:block;
    }

    .head-list{
        justify-content: space-between;
        display: none;
    }   

    .logo img{
        width: 80%;
        margin-bottom: 2.4rem;
    }

    .detail-list-sign{
        padding: 0.8rem;
    } 

    .section-1{
        height: 180vh;
        border-bottom-left-radius: 6rem;
        border-bottom-right-radius:6rem;
     }   

     .btn{
        padding: 1.2rem 1.4rem;
        right: 0;     
    }

    .amount{
        top:11%;
        left: 72%;
        padding: 0.4rem 1.2rem;
        font-size: 1.4rem;
    }

    .discount-sail{
        /* position: absolute; */
        top: 50%;
        right: 79%;
        padding: 1.8rem 1rem;
        font-size: 1.6rem;
}    

.games{
    display: flex;
    flex-direction: column; 
}

figure img{
    width:50vw;
}

.current-price{
    bottom: 82%;
    left: 80%;  
    padding:0.6rem 1.2rem;
    font-size: 1.6rem;
}

.new-price{
    bottom: 76%;
    left: 82%;
    padding:0.6rem 0.8em;
    font-size: 1.6rem;
}

.section-4{
    border-radius: 8.6rem;
}

.most-played-img{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.top-categorie-games{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.email-address a{
    padding: 0.8rem 1.6rem;
    position:absolute;
    top: 57.3%;
    right: 20%;
}

}
 /* 534/16 = 34  bellow 544px (Phone) */

@media(max-width:34em){
    .header-section{
        height: auto;
    }

    .lugx-gaming{
        font-size: 3.8rem;
    }

    .section-text{
        font-size: 1.2rem;
    }

    .btn{
        padding: 1rem 3.4rem;
        left: 2rem;    
    }

    .container-3{
        flex-direction: column;
        gap:0; 
    }

    .view-all a{
        display: none;
    }

    .trending{
        text-align: center;
    }

    .current-price{
        bottom: 76%;
        left: 74%;
        padding: 0.6rem 1.2rem;
        font-size: 1.6rem;
    }
    
    .new-price{
        bottom: 69%;
        left: 72%;
        padding: 0.5rem 1.6rem;
        font-size: 1.6rem;
    }

    .trending-games{
       flex-direction: column;
    }

    .trending-games a{
        display: none;
    }

    .explore{
        left: 25%;
    }
    form .email-address{
        display: none;
    }
    .news-letter{
       padding-bottom: 2.4rem;
    }
    /* 504/16 = 34  bellow 544px (Phone) */
}

@media(max-width:24em){
    .section-1{
        padding: 0;
        width: 100%;
     }     

    .lugx-gaming{
        font-size: 3.6rem;
    }

    .section-text{
        font-size: 1.6rem;
    }

    .form{
        display: grid;
        grid-template-columns: 1fr;
     }

    input{
        height: 7.5vh;
        width:50vh;
        position: relative;
        left:12rem;
    }

    .btn{
        position: relative;
        top:0; 
        left: 0.8rem;
        padding: 1rem 6.5rem;
    }
    
    .container-2 img{
        height: 60vh;
        width: 80vw;
        margin-top: 70%;
    }

    .discount-sail{
        top: 80%;
        right: 72%;
    }

    .amount{
        top:35%;
        left: 75%;
    }
    
    .container-3{
        padding: 0;
    }

    .games{
        display: grid; 
        grid-template-columns: 1fr;
        justify-content: center; 
    }

    figure img{
       width: 70vw;
    } 

    .games{
       position: relative;
       right: 16%;
       margin-top: 2.4rem;
    }

    .trendings{
        text-align: center;
    }

    .most-played-img{
        display:grid;
        grid-template-columns:1fr;
    }
    .explore{
        left: 32%;
    }

    .section-5{
        padding: 2.4rem 3.4rem;
    }


    .top-categorie-games{
      display: grid;
      grid-template-columns: 1fr;
    }

    /* .item-ordering{
        padding: 6.4 0;
        padding-left: 3.4rem;
        border-radius:2.4rem ;
        position: absolute;
        bottom: -2rem;
    }
    
    .news-letter{
        background-color: #f2f2f2; 
        padding-left: 3.4rem;
        border-radius:2.4rem;
        padding:4rem 4.4rem;
        position: absolute;
        bottom: -2rem;
        left: 64rem;
    } */

    .order-item{
        padding: 0;
    }

    .shop-detail{
        padding: 0;
        margin-top: 4.4rem;
        font-size: 1.4rem;
    }

    .section-4{
        border-radius: 2.6rem;
    }

    .cta-shop{
        padding:0;
    }

    form .email-address {
        display: block;
        position: relative;
        top: 2rem;  
    }

    .email-address input{
       position: relative;
       width: 100%;
       bottom:4rem;
       left: 9rem;
    }

    .email-address a{
        position:relative;
        bottom:4rem;
        left: 3.5rem; 
    }
    
    .copy-right{
        font-size: 1.2rem;
    }

    .footer-section{
        border-top-left-radius:2.6rem ;
        border-top-right-radius:2.6rem;
    }   
    
  }
