*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

/*******************
    HEADER-SECTION
********************/

.header-section{
    background: url("images/page-heading-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 12vh;
    /* border-bottom-left-radius: 3.2rem;
    border-bottom-right-radius: 3.2rem; */
}

.logo img{
    width: 80%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2rem 9.2rem;
}

.head-list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.5rem;
    font-size:1.4rem;
}

.head-list a{
    text-decoration: none;
    color: #fff;
    padding: 1.2rem;
    transition: all 0.3s;
    letter-spacing: 1.6;
}

.head-list .detail-list a:hover{
    background-color: #1d82ff;
    border-radius: 2.4rem;
}

.detail-list-home{
    background-color: #1d82ff;
    padding: 1rem;
    border-radius: 2.4rem;
}

.detail-list-sign{
    background-color: #fa5252;
    padding: 1rem;
    border-radius:2.4rem;
} 


/************************
    SECTION-1
 *************************/

.section-1{
   background: url(images/banner-bg.jpg);
   height: 100vh;
   border-bottom-left-radius: 14.6rem;
   border-bottom-right-radius: 14.6rem;
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9.2rem;
    padding:12.4rem 7.2rem;
    color: #fff;
}

.heading-lugx{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.4;
}

.lugx-gaming{
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.dec-banner{
    margin-left: 12.4rem;
    margin-bottom: 4.4rem;
}

.section-text{
    font-size: 1.4rem;
    line-height: 2;
    margin-bottom: 4.4rem;
}

.container-2 img{
    border-radius: 2.4rem;
    height: 60vh;
}

.form{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

input{
    height: 7.5vh;
    width:50vh;
    border-radius: 2.8rem;
    outline: none;
    border:none;
}

input::placeholder{ 
    color: #bab4b4;
    font-size: 1.4rem;
    /* padding-left:2rem; */
}

input[type = "text"]{
    font-size:1.4rem;
    color: #bab4b4;
    margin-left: 2.4rem;
    padding-left:2.4rem;
}

button{
    color: #ffffff;
    background-color: #dd6161;
    padding: 1.8rem 3.4rem;
    position: relative;
    right: 5rem;    
    border-radius: 2.8rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

/* ************************* 
    SECTION-3
*****************************/

.feature-list{
    display: flex;
    align-items: center;
    gap: 2.2rem;
    justify-content: center;
    list-style: none;
}

.feature-list a{
    background-color: #1d82ff;
    padding: 3.4rem 2.4rem;
    border-radius: 100%;
    transition: all 0.3s;
}

.feature-list a:hover{
    background-color:#dd6161;
}

.feature-items{
    display: flex;
    justify-content: center;
    margin-top: 2.8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}

.feature-list-items{
   background-color: #ffffff;
   padding: 3.4rem 5.4rem 2.4rem 5.4rem;
   transform: scale(1.2); 
   margin: 2rem;
   margin-bottom: 6.4rem;
   border-radius: 1.4rem;
   position: relative;
   bottom: 6.4rem;
   box-shadow: 0  0 0.4rem rgb(0,0,0,0.3);
}

/* *****************
    SECTION-3
*********************/

.container-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.4rem 6.4rem 5.4rem 6.4rem;
}

.trending{
    font-weight: 700;
    letter-spacing: 1.8;
    color: #dd6161;
    text-transform: uppercase;
}

.trending-games{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.section-3 a{
    text-decoration: none;
    background-color: #dd6161;
    padding: 1.4rem 2.8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 4.4rem;
    font-weight: 600;
    transition: all 0.3s;
}

.section-3 a:hover{
    background-color: #1d82ff;

}


